.aboutContainer{
    background-color: #2AC1F0;
    height: 90vh;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.textContainer{
    height:90vh;
    width:900px;
    margin-top:130px;
    color:white;
    font-size: 32px;
    overflow-y: auto;
    font-weight: 400;
}

.aboutContainer::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .aboutContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .textContainer::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .textContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
