.birthBody{
    background-color: #2AC1F0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.birthContainer{
    display: flex;
    width: 900px;
    height:72px
}

.birthInput{
    width:700px;
    height:59px;
    border-radius: 5px;
    border-width: 0px;
    padding:10px 20px 10px 20px;
    resize: none;
    outline:none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.birthButton{
    height:59px;
    width:140px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
}
.InvalidAlert{
    margin-left: 20px;
    margin-top:12px;
    font-size: 14px;
    color:#000000;
    font-weight: 400;
}

@media (max-width: 768px) {
    .birthContainer{
        padding: 10px;
      width:400px;
      height:auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -150px;
    }
    .birthInput{
        font-size: 18px;
      height: 39px;
      width:340px;
      height: 35px !important;
    }
    .birthButton{
        font-size: 18px;
        height:35px;
        width:90px;
        margin-top: 20px;
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .birthContainer{
        padding: 10px;
      width:300px;
      height:auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -150px;
    }
    .birthInput{
        font-size: 16px;
      
      width:250px;
      height: 32px !important;
    }
    .birthButton{
        font-size: 16px;
        height:32px;
        width:90px;
        margin-top: 20px;
        margin-left: 0px;
    }
}

