.dataContainer{
    display: flex;
  justify-content: center; 
  align-items: center; 
    background-color: #2ac1f0;
    height:93vh
}
.dataBox{
    margin-top: -10vh;
    margin-left:130px
}
.singleData1,.singleData2,.singleData3,.singleData4{
    margin-bottom: 30px;
    color:white;
    font-size: 32px;
    font-weight: 400;
}
.singleData2{
    margin-left:-8px
}
.singleData3{
    margin-left:82px
}
.singleData4{
    margin-left:-107px;
    width:600px;
    
}

@media (max-width: 1024px) {
    .singleData1,.singleData2,.singleData3,.singleData4{
        font-size: 28px;
    }

     .singleData2{
        margin-left: -7px;
    }
   .singleData3{
        margin-left: 72px;
    }
     .singleData4{
        margin-left: -93px;
        
    }
    .dataBox{
        margin-left:104px;
    }
}
@media (max-width: 936px) {
    .singleData1,.singleData2,.singleData3,.singleData4{
        font-size: 25px;
    }

     .singleData2{
        margin-left: -7px;
    }
   .singleData3{
        margin-left: 63px;
    }
     .singleData4{
        margin-left: -84px;
        
    }
    .dataBox{
        margin-left:149px;
    }
}


@media(max-width:768px){
    .singleData1,.singleData2,.singleData3,.singleData4{
        font-size: 18px;
    }

     .singleData2{
        margin-left: -4px;
    }
   .singleData3{
        margin-left: 48px;
    }
     .singleData4{
        margin-left: -57px;
        
    }
    .dataBox{
        margin-left:272px;
    }
}
@media(max-width:355px){
    .singleData1,.singleData2,.singleData3,.singleData4{
        font-size: 16px;
    }

     .singleData2{
        margin-left: -4px;
    }
   .singleData3{
        margin-left: 41px;
    }
     .singleData4{
        margin-left: -57px;
        
    }
    .dataBox{
        margin-left:315px;
    }
}

/* @media (max-width: 768px) {
    .singleData1,.singleData2,.singleData3,.singleData4{
        font-size: 18px;
    }
    .singleData2{
        margin-left: -52px;
    }
    .singleData3{
        margin-left: 42px;
    }
    .singleData4{
        margin-left: 29px;
        width:200px
    }
    .dataBox{
        width:340px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 355px) {
    .singleData1,.singleData2,.singleData3,.singleData4{
        font-size: 16px;
    }
    .singleData2{
        margin-left: -52px;
    }
    .singleData3{
        margin-left: 42px;
    }
    .singleData4{
        margin-left: 45px;
        width:300px
    }
    .dataBox{
        width:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} */