.employBody{
    background-color: #2AC1F0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.employContainer{
    margin-top: -250px;
    display: flex;
    flex-direction: row;
}
.left-aligned-text{
    text-align: left;
    margin-top:-10px
}
.customToggle{
    
    width:700px;
    height:59px;
    border-radius: 5px;
    border-width: 0px;
    padding:10px 20px 10px 20px;
    resize: none;
    outline:none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    background-color: #ffffff;
    color:#ACABAB
}
.customToggle:hover{
    background-color: #ACABAB;
    color:#ffffff
}
.grey{
    background-color: #ACABAB;
    color:#ffffff
}

.customMenu{
    background-color: #ffffff;
    color:#ACABAB;
    font-size: 40px;
    padding:10px 20px 10px 20px;
    border-radius: 5px;
    border-width: 0px;
    font-family: 'Montserrat', sans-serif;
    width:700px;
}
.customToggle::after {
    display: none;
}

.employButton{
    height:59px;
    width:140px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .employContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -150px;
    }
    .customToggle{
        font-size: 18px;
        width:340px;
        height: 35px;
        padding:13px 10px 10px 10px
    }
    .customMenu{
        font-size: 18px;
        width:340px;
    }
    .employButton{
        font-size: 18px;
    height:35px;
    width:90px;
    margin-top: 20px;
    margin-left: 0px;
    }
}

@media (max-width: 355px) {
    .employContainer{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -150px;
    }
    .customToggle{
        font-size: 16px;
        width:250px;
        height: 32px;
        padding:14px 10px 10px 10px
    }
    .customMenu{
        font-size: 16px;
        width:250px;
    }
    .employButton{
        font-size: 16px;
    height:32px;
    width:90px;
    margin-top: 20px;
    margin-left: 0px;
    }
}