.noticeBody{
    background-color: #2AC1F0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noticeCont{
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noticestyle{
    font-weight:400;
    font-size:32px;
    color:#ffffff
}
.noticeButton{
    height:39px;
    width:220px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:1024px) {
    .noticeCont{
        padding: 10px;
      width:700px;
      height:auto;
      
      display: flex;
      flex-direction: column;
      align-items: center;
}
.noticestyle{
    font-size: 28px;
      padding:10px;
      width:700px;
      height: 45px;
      margin-left: 41px;
}
.noticeButton{
    font-size: 28px;
    height:130px;
    width:134px;
    margin-top:20px;
    margin-left:0px;
}
}

@media (max-width: 768px) {
    .noticeCont{
        padding: 10px;
      width:340px;
      height:auto;
      
      display: flex;
      flex-direction: column;
      align-items: center;
}
.noticestyle{
    font-size: 18px;
      padding:10px;
      width:340px;
      height: 35px;
      margin-left:0px
}
.noticeButton{
    font-size: 18px;
    height:92px;
    width:90px;
    margin-top:20px;
    margin-left:0px;
}
}
@media (max-width: 355px) {
    .noticeCont{
        padding: 10px;
      width:300px;
      height:auto;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}
.noticestyle{
    font-size: 16px;
      padding:10px;
      width:280px;
      height: 32px;
      
}
.noticeButton{
    font-size: 16px;
    height:50px;
    width:90px;
    margin-top:20px;
    margin-left:0px;
}
}