.forgotBody{
    background-color: #2AC1F0;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forgotInput{
    width:700px;
    height:59px;
    border-radius: 5px;
    border-width: 0px;
    padding:1px 20px 1px 20px;
    resize: none;
    outline:none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.forgotSubmit{
    height:59px;
    width:140px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.invalid{
    font-size: 14px;
}
.invaidCont{
    margin-left: 16px;
    margin-top:10px;
}
.join{
    display: flex;
    flex-direction: row;
}
.forgotCont{
    margin-top:-50px;
}

@media(max-width:1024px){
    
    .forgotCont{
        padding:10px;
        width:800px;
      
    }
    .forgotInput{
        font-size:28px;
        width:670px;
        height:45px
    }
    .forgotSubmit{
        font-size: 28px;
        height:45px;
        width:120px;
    }
    .invaidCont{
        margin-top:15px;
    }
}
@media(max-width:936px){
    
    .forgotCont{
        padding:10px;
        width:700px;
        
    }
    .forgotInput{
        font-size:25px;
        width:550px;
        height:40px
    }
    .forgotSubmit{
        font-size: 25px;
        height:40px;
        width:110px;
    }
    .invaidCont{
        margin-top:10px;
    }
}

@media (max-width: 768px) {
    .forgotCont{
        padding: 10px;
        width:400px;
        height:auto;
        margin-top: -100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .forgotInput{
        font-size: 18px;
      
      width:340px;
      height: 35px 
    }
    .forgotSubmit{
        font-size: 18px;
        height:35px;
        width:90px;
        margin-top: 20px;
        margin-left:0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .invalid{
        margin-top: 10px;
    }
    .invaidCont{
        margin-left: 0px;
    }
    .join{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 355px) {
    .forgotCont{
        padding: 10px;
        width:300px;
        height:auto;
        margin-top: -80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .forgotInput{
        font-size: 16px;
      
      width:250px;
      height: 32px 
    }
    .forgotSubmit{
        font-size: 16px;
        height:32px;
        width:90px;
        margin-top: 20px;
        margin-left:0px;
    }
    .invalid{
        margin-top: 10px;
    }
    .invaidCont{
        margin-left: 0px;
    }
}