.noticeBody{
    background-color: #2AC1F0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.noticeCont{
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noticestyle{
    font-weight:400;
    font-size:32px;
    color:#ffffff
}
.noticeButton{
    height:39px;
    width:220px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
}