.revBody{
    background-color: #2AC1F0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.revContainer{
    height:600px;
    width:900px;
   display: flex;
   flex-direction: row;

}
.containerWithMargin {
    margin-top: -250px;
  }
.inputDiv{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.submitButtton{
    height:59px;
    width:140px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
}

.inputCustom{
    
    width:700px;
    height:59px;
    border-radius: 5px;
    border-width: 0px;
    padding:1px 20px 10px 20px;
    resize: none;
    outline:none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.marginButton{
margin-top:200px
}
.mailBody{
    margin-top: -150px;
    width:900px;
    height:200px;
    display: flex;
    flex-direction: row;
    
}

.inputCustom::-webkit-scrollbar{
    width:0px
}

.submitButton{
 margin-top: 200px;
}

.mailCont{
    display: flex;
    flex-direction: row;
}

.InvalidAlert{
    margin-left: 20px;
    margin-top:12px;
    font-size: 14px;
    color:#000000;
    font-weight: 400;
}

/************************* Media Queries*****************************/
@media (max-width: 768px) {
    .revContainer {
      padding: 10px;
      width:400px;
      height:auto;
      background-color: rgb(179, 72, 72);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .inputDiv{
        width:340px;
        margin-top: 0px;
    }
    .inputCustom {
      font-size: 18px;
      height: 39px;
      width:340px;
      height: 35px !important;
    }
    .submitButtton{
        font-size: 18px;
        height:35px;
        width:90px;
    }
    .buttonContainer{
        width:150px;
        height:150px;
    }
    .marginButton{
        margin-top: 0px;
    }

    .mailBody{
        padding: 10px;
        width:400px;
        height:200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }
    .mailCont{
        display: flex;
        flex-direction: column;
        
    }
    .buttonMargin{
        margin-top: 20px;
    }
    
  }