body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2AC1F0; 
    overflow: hidden; 
}

.body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    background-color: #2AC1F0;
    height:90%;
    overflow-y: auto;
}
.listContainer{

    margin-top: 70px;
    width:800px;
    font-size: 32px;
    
}
.body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .body::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
