.logPassBody{
    background-color: #2AC1F0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logPassCont{
    margin-top:-230px
}