
.logBody{
    background-color: #2AC1F0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputCustomm{
    width:700px;
    height:59px;
    border-radius: 5px;
    border-width: 0px;
    padding:10px 20px 10px 20px;
    resize: none;
    outline:none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    
}
.submitButton{
    height:78px;
    width:140px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
}
.logCont{
   height:100px;
    margin-left:-160px;
}
.passCont{
   height:100px
}
.inputCustommm{
    width:700px;
    height:59px;
    border-radius: 5px;
    border-width: 0px;
    padding:10px 20px 10px 20px;
    resize: none;
    outline:none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.submitButtonn{
    height:78px;
    width:140px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
}
.linkStyle{
    margin-left: -700px;
    margin-top:-25px;
    font-size: 14px;
    font-weight:400;
}
.linkStyle a{
    color:black
}
.InvalidAlertt{
font-size: 14px;
margin-top: 12px;
}
@media (max-width: 768px) {
    .logCont{
        width:380px;
        padding:10px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inputCustomm{
        width:340px;
        height:35px;
        font-size: 18px;
        padding:10px;
    }
    .inputCustommm{
        width:340px;
        height:35px;
        font-size: 18px;
    }
    .passCont{
        width:400px;
        padding:10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submitButtonn{
        font-size: 18px;
        height:35px;
        width:90px;
        margin-top: 20px;
        margin-left: 0px;
    }
.linkStyle{
    margin-left: 0px;
    margin-top: 0px;
}

}
@media (max-width: 355px) {
    .logCont{
        width:250px;
        padding:10px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inputCustomm{
        width:250px;
        height:32px;
        font-size: 16px;
        padding:10px;
    }
    .inputCustommm{
        width:250px;
        height:32px;
        font-size: 16px;
    }
    .passCont{
        width:300px;
        padding:10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submitButtonn{
        font-size: 16px;
        height:32px;
        width:90px;
        margin-top: 20px;
        margin-left: 0px;
    }
.linkStyle{
    margin-left: 0px;
    margin-top: 0px;
}

}