.nameBody{
   
    background-color: #2AC1F0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.firstNameCont{
    
   margin-left:40px;
    height:200px;
    width:900px;
   display: flex;
   flex-direction: row;

}
.firstName{
    width:700px;
    height:59px;
    border-radius: 5px;
    border-width: 0px;
    padding:1px 20px 1px 20px;
    resize: none;
    outline:none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.button{
    height:60px;
    width:140px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
}
.containerWithMargin{
    margin-top: -50px;
}
.secNameBody{
    margin-top: 0px;
    width:900px;
    height:200px;
    display: flex;
    flex-direction: row;
}

@media(max-width:1024px){
    .firstNameCont{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
          width:850px;
          height:auto;
          margin-top:-100px;
    }
    .firstName{
        font-size: 28px;
         
          width:670px;
          height: 45px !important;
    }
    .secNameBody{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
          width:850px;
        height:100px;
        margin-top: 100px;
    }
    .button{
        height:45px;
    width:120px;
    color:white;
    font-size:28px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
    }
}
@media(max-width:936px){
    .firstNameCont{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
          width:700px;
          height:auto;
          margin-top:-100px;
    }
    .firstName{
        font-size: 25px;
         
          width:550px;
          height: 40px !important;
    }
    .secNameBody{
    
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
          width:700px;
        height:100px;
        margin-top: 100px;
    }
    .button{
        height:40px;
    width:110px;
    color:white;
    font-size:25px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
    }
}

@media (max-width: 768px) {

.firstNameCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
      width:400px;
      height:auto;
      margin-top:-100px;
}
.firstName{
    font-size: 18px;
     
      width:340px;
      height: 35px !important;
}
.secNameBody{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
      width:400px;
    height:100px;
    margin-top: 100px;
}
.button{
    height: 35px;
width:80px;
color:white;
font-size:18px;
font-family: 'Montserrat', sans-serif;
background-color: black;
border-width:0px;
border-radius: 5px;
margin-left: 0px;
margin-top:10px;
}
}
@media (max-width: 355px) {
    .firstNameCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
          width:300px;
          height:auto;
          margin-top:-80px;
    }
    .firstName{
        font-size: 16px;
         
          width:250px;
          height: 32px !important;
    }
    .secNameBody{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
          width:300px;
        height:100px;
        margin-top: 80px;
    } 
    .button{
        height: 32px;
    width:63px;
    color:white;
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 0px;
    margin-top:10px;
    }
    
}