.newPassBody{
    background-color: #2AC1F0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newCont{
    margin-top: -100px;
}
.newInput{
    width:700px;
    height:59px;
    border-radius: 5px;
    border-width: 0px;
    padding:10px 20px 10px 20px;
    resize: none;
    outline:none;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
.newSubmit{
    height:59px;
    width:140px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
}
.reInput{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .newCont{
        padding: 10px;
      width: 340px;
      height:auto;
      
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .newInput{
        font-size: 18px;
        width:340px;
        height: 35px !important;
    }
    .newSubmit{
        font-size: 18px;
        height:35px;
        width:90px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .reInput{
        display:flex ;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 355px) {
    .newCont{
        padding: 10px;
      width: 300px;
      height:auto;
      
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .newInput{
        font-size: 16px;
        width:250px;
        height: 32px !important;
    }
    .newSubmit{
        font-size: 16px;
        height:32px;
        width:90px;
        margin-left: 0px;
        margin-top: 20px;
    }
    .reInput{
        display:flex ;
        flex-direction: column;
        align-items: center;
    }
}