.rewBody{
    background-color: #2AC1F0;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textContainerr{
    word-wrap: break-word;
  color:#ffffff;
  font-size: 32px;
  font-weight:400;
    margin-bottom: 30px;
    max-height:400px;
    overflow-y:auto ;
}

.allCont{
    
    width:800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left:-200px; */
   
}
.rewButton{
    height:59px;
    width:110px;
    color:white;
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-width:0px;
    border-radius: 5px;
    margin-left: 20px;
}
.buttonsContainer{
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}
.textContainerr::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .textContainerr::-webkit-scrollbar-thumb {
    background-color: transparent;
  }


  @media (max-width: 768px) {
    .rewButton{
      font-size: 18px;
      height:35px;
      width:90px;
    }
    .textContainerr{
      font-size: 18px;
      max-height: 280px;
    }
    .allCont{
      width:340px
    }
    .buttonsContainer{
      display: flex;
      flex-direction: column;
    }
    .setTwo{
      margin-top: 20px;
    }

  }

  @media (max-width: 355px) {
    .rewButton{
      font-size: 16px;
      height:32px;
      width:90px;
    }
    .textContainerr{
      font-size: 16px;
      max-height: 250px;
    }
    .allCont{
      width:300px
    }
    .buttonsContainer{
      display: flex;
      flex-direction: column;
    }
    .setTwo{
      margin-top: 20px;
    }

  }
