.main{
    display: flex;
    flex-direction: row;
}
#dropdown-item-button{
    background-color: transparent !important;
    border:none
}
.dropdown-toggle::after {
    display: none !important; 
  }
.listText{
  font-size: 32px;
}
  .dropButton{
    font-size: 32px;
    color:#4D4C4C
  }
  .votesCount,.seperator{
    font-size: 32px;
    color:"#4D4C4C"
  }

  @media (max-width: 768px) {
    .listText{
      font-size: 18px;
    }
    .dropButton{
      font-size: 18px;
      margin-left:23px;
    }
    .votesCount,.seperator{
      font-size: 18px;
      margin-left:23px;
    }

  }
  @media (max-width: 768px) {
    .listText{
      font-size: 16px;
    }
    .dropButton{
      font-size: 16px;
      margin-left:23px;
    }
    .votesCount,.seperator{
      font-size: 16px;
      margin-left:23px;
    }
  }